.markdown {
  font-family: "Montserrat";
  font-size: 1rem;
  line-height: 2.5;
}
.markdown strong {
  font-weight: 600;
}
@media screen and (max-width: 1400px) {
  .markdown {
    font-size: 1.15rem;
    line-height: 2.25;
  }
}
@media screen and (max-width: 960px) {
  .markdown {
    font-size: 1rem;
    line-height: 2;
  }
}
@media only screen and (max-width: 280px) {
  .markdown {
    font-size: 0.75rem;
  }
}
