.markdown {
  line-height: 2rem;
}

.markdown ol,
.markdown ul {
  padding-left: 2rem;
}

.markdown h3 {
  margin-bottom: 1rem;
}

.markdown h1 {
  margin: 1rem 0;
}

.markdown p {
  margin: 2rem 0;
}
